@model TodoEntry

    <div class="row">
        <div class="col-md-6">
            <h3>@Model.Title</h3>
            <h4>@Model.Status</h4>
            <h6>Due Date: @Model.DueDate.ToShortDateString()</h6>
            <h6>Created at: @Model.CreationDate.ToShortDateString()</h6>
            <p>@Model.Description</p>
            <a class="btn btn-secondary" asp-controller="TodoEntry" asp-action="Index" asp-route-listId="@Model.TodoListId">Back</a>
            <a class="btn btn-primary" asp-controller="TodoEntry" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" asp-controller="TodoEntry" asp-action="Delete" asp-route-id="@Model.Id" asp-route-listId="@Model.TodoListId">Delete</a>
        </div>
    </div>
